body{
    background: rgb(64, 151, 137);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1{
    background: wheat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 20rem;
    text-align: center;
    align-items: center;
}

a{
    font-size: 25px;
    align-items: center;
}