body{
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    background-color: rgb(20, 36, 34);
}

h1{
    font-size: 10rem;
    -webkit-text-fill-color: rgb(94, 162, 226);
    -webkit-text-stroke-width: 3px;
    font-family: cursive;
}

input{
    margin: .5rem;
}

button{
    align-self: left;
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(255, 7, 7);
    color: white;
    padding: 1rem;
    border-radius: 0.5px;
    cursor: pointer;
}

label{
    font-size: 2.5rem;
    color: white;
    align-items: left;
}
